@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h5 class="text-center">@Ru.SignUpLabel</h5>
<br />
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Patronimic"></label>
        <input asp-for="Input.Patronimic" class="form-control" />
        <span asp-validation-for="Input.Patronimic" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PhoneNumber"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.CarMark"></label>
        <input asp-for="Input.CarMark" class="form-control" />
        <span asp-validation-for="Input.CarMark" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.CarNumber"></label>
        <input asp-for="Input.CarNumber" class="form-control" />
        <span asp-validation-for="Input.CarNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.CarPhoto"></label>
        <input asp-for="Input.CarPhoto" class="form-control" />
        <span asp-validation-for="Input.CarPhoto" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">@Ru.SignUpButton</button>
    </div>
</form>
