@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Менин номерим: @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-white font-weight-bold">Чыгуу</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Register">Катталуу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white font-weight-bold" asp-area="Identity" asp-page="/Account/Login">Кирүү</a>
    </li>
}
</ul>
